.form_foot_text{
    display: flex;
    gap: 5px;
    text-align: center;
    align-self: center;
    font-family: 'Raleway', sans-serif;
    font-size: 25px;
    color: #254050;
}
.form_foot_text>a{
    color: rgb(1, 110, 252);
    font-weight: bold;
    letter-spacing: 0.03em;
}
