.sign_form_template{
    position: relative;
    height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
}
h2{
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 45px;
    letter-spacing: 0.03em;
    color: #75869B;
    margin-bottom: 60px;
}
.form_footer{
    margin: auto 0 0 0;
    bottom: 0;
    line-height: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}