.input{
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 14px;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 25px;
    letter-spacing: 0.05em;
    color: #254050;
}
.input>input{
    width: 372px;
    height: 63px;
    background: #F5F9FF;
    
    border-radius: 200px;
}
.input>.valid{
    padding: 10px 45px 10px 10px;
    border: 4px solid #82A9FF;
}
.input>.invalid{
    padding: 10px;
    border: 4px solid #E72822
}
.spy_password{
    width: 32px;
    height: 32px;
    position: absolute;
    top: 58px;
    right: 17px;
    background: url(/src/assets/spy_password_icon.svg) no-repeat right center;
    cursor: pointer;
}
.input_is_valid{
    width: 32px;
    height: 32px;
    position: absolute;
    top: 58px;
    right: 17px;
    background: url(/src/assets/valid_input_icon.svg) no-repeat right center;
}
.hidden{
    display: none;
}